html,
body {
    margin: 0;
    padding: 13px 200px;
    width: 100%;
}

body {
    height: 100vh;
    background: #151519;
}

button {
    background: none;
    color: #ccc;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    width: 220px;
    height: 60px;
    margin-left: 30px;
}

button:focus {
    outline: none;
}

button:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}

button:hover {
    background: #338033;
    cursor: pointer;
}

button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
}

label {
    display: inline-block;
    margin-bottom: .10rem;
    color: white;
}

.child {
    height: 100px;
    display: inline-block;
    width: 20%;
}

table {
    position: relative;
    width: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    color: white;
    border: 4px double rgb(2, 1, 1);
    top: 53px;
}

th,
td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

th:first-child,
td:first-child {
    text-align: left;
}

.navMenu {
    position: sticky;
    top: 0px;
    z-index: 2;
    background: #151519;
}

.navTable {
    position: sticky;
    top: 50px;
    z-index: 2;
    background: #151519;
}

.d10 h3 {
    display: table;
    width: auto;
    margin: 0 350px;
    padding: 15px;
    letter-spacing: 2px;
    border: 2px solid #cbdcea;
    color: tomato;
}

.d10 h3:after {
    content: '';
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

#js-result {
    font-size: 16px;
    line-height: 38px;
    color: white;
}