ul {
    position: relative;
    top: 0px;
    left: 570px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    width: 200px;
    height: 40px;
    display: block;
    color: rgb(250, 250, 250);
    line-height: 40px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    box-sizing: border-box;
}

ul li a span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: tomato;
    z-index: -1;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform .5s;
}

ul li a:hover {
    color: #fff;
    text-decoration: none;
}

ul li a:hover span {
    transform-origin: bottom;
    transform: scaleY(1);
}

ul li a span:nth-child(1) {
    left: 0;
    transition-delay: 0s;
}

ul li a span:nth-child(2) {
    left: 25%;
    transition-delay: 0.15s;
}

ul li a span:nth-child(3) {
    left: 50%;
    transition-delay: 0.3s;
}

ul li a span:nth-child(4) {
    left: 75%;
    transition-delay: 0.45s;
}